<!DOCTYPE html>
<html>
<head>
  <title>About <%= name %></title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <% include ../partials/nav.ejs %>
  <h1>HELLO <%= name %></h1>
</body>
</html>
